
body {
    margin: 20px;
}

a {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

table {
    border: 4px solid black;
    font-size: xx-large;
    padding: 5px;
    background-color: black;
    border-radius: 8px;
}

tr, ol {
    background-color: lightgray;
}

ol {
    display: grid;
    list-style-position: inside;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, auto);
    grid-auto-flow: column;
    border: 4px solid black;
    font-size: x-large;
    padding: 5px;
    border-radius: 8px;
}

.data-table-dva {
    grid-auto-flow: column;
}

main {
}

td {

}

div {
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

header h1, p {
    padding: 10px;
}

@media (max-width: 768px) {
    ol {
        display: flex;
        list-style-position: inside;
        flex-direction: column;
        border: 4px solid black;
        font-size: x-large;
        padding: 5px;
        border-radius: 8px;
    }
}